{% set title = "Paste your link" %}

{% set description = "Convert data from URL into JSON, CSV, or any other format within milliseconds." %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<div class="center__inner">

			<form action="/" class="page-form form">

				<div class="page-form__inner">

					<h1 class="page-form__title h2">
						{{ title }}
					</h1>

					<p class="page-form__text">
						{{ description }}
					</p>

					<input class="input" name="link" placeholder="your link" required="required">

					<button class="page-form__submit btn btn--dark form__submit">
						Generate
					</button>

				</div>

			</form>

		</div>

	</div>

{% endblock %}