	<footer class="footer">

		<div class="center">

			<div class="footer__top">

				<div class="footer__logo">

					<svg width="148" height="40" viewBox="0 0 148 40">
						<use xlink:href="#logo"/>
					</svg>

				</div>

				<div class="footer__contact">

					<span class="footer__contact-sep"></span>

					<a href="mailto:info@profile.ai">
						info@profile.ai
					</a>

				</div>

			</div>

			<div class="footer__bottom">

	About
Policies
About us
Contact us
Terms of use
Privacy policy

				<p class="footer__license">

					Powering Ecommerce Success Through <br>
					Actionable Data Insights."

				</p>

				<p class="footer__copyright">

					© 2023, profile.ai.

				</p>

			</div>

		</div>

	</footer>