.clients {

	margin-top: 50px;
	position: relative;

	.center {

		background-image: linear-gradient(200deg, #fafafa, #fff 40%);
		border-radius: 30px;

		@media $mdWidth {

			padding: 0 var(--indent);

		}

	}

	&__box {

		padding: 87px 0 78px;

		@media $mdWidth {

			padding: 60px 0;

		}

	}

	&__title {

		text-align: center;

	}

	&__intro {

		font-size: 20px;
		opacity: 0.8;
		margin: 32px auto;
		max-width: 720px;
		text-align: center;

	}

	&__list {

		display: flex;
		gap: 64px;
		margin: 42px auto;
		max-width: 956px;
		justify-content: space-between;

		@media $mdWidth {

			justify-content: center;
			flex-wrap: wrap;

		}

	}

	&__item {

		@media $desktop {

			flex-grow: 1;

		}

		display: flex;
		align-items: center;
		gap: 16px;

	}

}