.code {

	padding: 16px 32px;
	background-color: #000;
	border: 1px solid #faff00;
	border-radius: 8px;
	margin: 40px 0;
	display: block;
	color: #fff;

	font-family: 'Courier';
	font-size: 16px;
	line-height: 35px;
	overflow: hidden;
	word-break: break-all;

	@media $smWidth {

		font-size: 12px;
		padding: 16px;
		line-height: 2;

	}

	&::selection {

		color: #000;
		background-color: #fff;

	}

	&__red {

		color: #fc429b;

	}

	&__green {

		color: #24f445;

	}

	&__pl {

		display: block;
		padding-left: 20px;

		@media $smWidth {

			padding-left: 16px;

		}

	}

	&__key-value {

		display: flex;
		gap: 5px;

	}

}