.first-screen {

	padding: 70px 0 187px;
	position: relative;

	@media $smWidth {

		padding: 48px 0;
		overflow: hidden;

	}

	&::before {

		position: absolute;
		left: 0;
		right: 0;
		bottom: -310px;
		content: '';
		margin: auto;
		position: absolute;
		width: 591px;
		height: 591px;
		background-color: #dbdff5;
		opacity: 0.5;
		border-radius: 50%;
		filter: blur(57px);

	}

	&__box {

		@media $desktop {

			display: flex;
			position: relative;

		}

	}

	&__next {

		position: absolute;
		left: 0;
		bottom: -130px;
		color: #161b2d;

		@media $mdWidth {

			display: none;

		}

		&::before {

			position: absolute;
			top: 0;
			left: -16px;
			right: -16px;
			bottom: 0;
			content: '';

		}

	}

	&__text {

		margin: 40px 0;
		font-size: 24px;
		line-height: 35px;
		opacity: 0.8;
		max-width: 470px;

		@media $mdWidth {

			margin: 30px auto;

		}

		@media $smWidth {

			margin: 16px 0 32px;
			font-size: 18px;
			line-height: 25px;

		}

	}

	&__content {

		padding: 80px 0;

		@media $mdWidth {

			padding: 40px 0;
			text-align: center;

		}

		@media $smWidth {

			padding: 0;
			text-align: left;

		}

	}

	&__code {

		width: 542px;
		margin-left: 40px;
		flex-shrink: 0;

		@media $mdWidth {

			margin: auto;

		}

		@media $smWidth {

			width: auto;

		}

		.code {

			font-size: 12px;
			line-height: 18px;
			font-family: inherit;
			padding: 20px 24px;
			margin: 10px 0;

			@media $smWidth {

				font-size: 8px;
				padding: 10px;

			}

			&__pl {

				padding-left: 5px;

			}

		}

	}

}