.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	user-select: none;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	display: block;

	&:hover {

		cursor: pointer;

	}

	&:focus {

		outline: none;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	padding: 15px 22px;
	line-height: 20px;
	font-weight: 700;
	font-size: 16px;
	border-radius: 12px;

	@media $smWidth {

		font-size: 16px;

	}

	&--dark {

		background-color: var(--color);
		color: #f3f3f3;

		@media $desktop {

			&:hover {

				color: #fff;

			}

		}

	}

}

.input {

	line-height: 30px;
	padding: 15px 20px;
	font-size: 18px;
	color: currentColor;

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px);

	background-color: #fff;
	border: 2px solid var(--border);
	border-radius: 12px;

	@media $smWidth {

		font-size: 16px;

	}

	textarea& {

		resize: none;
		height: 120px;
		overflow-y: auto;

		scrollbar-width: thin;
		scrollbar-color: var(--border) transparent;

		&::-webkit-scrollbar {

			width: 6px;
			border-radius: 3px;
			background-color: transparent;

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 3px;
			background-color: var(--border);

		}

	}

	&::placeholder {

	}

	&::-ms-clear {

		display: none;

	}

	&:focus {

		outline: none;
		border-color: var(--color);

	}

	&:invalid {

		box-shadow: none;

	}

	&:valid {

		box-shadow: none;

	}

}

.form {

	&__column {

		display: flex;
		gap: 105px;

		&-item {

			width: 420px;

		}

	}

	&__title {

		font-size: 24px;
		line-height: 30px;
		margin-bottom: 30px;
		font-weight: 700;

	}

	&__inputbox {

		border: 0;
		min-width: 0;
		display: block;
		position: relative;
		width: 100%;
		margin: 10px 0;

		&:focus {

			outline: none;

		}

		&.is-error label {

			color: var(--error);

		}

		.input.is-value {

			border-color: var(--color);

		}

	}

	&__label {

		font-size: 18px;
		line-height: 30px;
		margin-bottom: 10px;
		display: block;
		opacity: .7;

	}

	&__submit {

		padding: 30px 60px;
		font-size: 20px;
		border-radius: 15px;
		margin-top: 40px;

	}

	&__text {

		display: block;
		font-size: 24px;
		line-height: 30px;

	}

}