.form-generate {

	&__start {

		width: 468px;

		@media $mdWidth {

			margin: auto;

		}

		@media $smWidth {

			width: auto;

			.input {

				text-align: center;

			}

		}

	}

	&__result {

		width: 468px;

		@media $mdWidth {

			margin: 32px auto;

		}

		@media $smWidth {

			width: auto;

		}

		.code {

			background-color: #131313;
			border: 1px solid #666;
			border-radius: 16px;
			padding: 40px;

			border: 0;
			margin: 0;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			font-family: 'Inter';

			white-space: pre-wrap;

			@media $smWidth {

				padding: 16px;
				font-size: 12px;
				margin: 0 calc( var(--indent) * -1);

			}

			ul {

				margin: 10px 0 10px 20px;

			}

		}

	}

	&:not(.is-finish) &__result,
	&.is-loading &__result {

		display: none;

	}

	&__load {

		position: absolute;
		top: 136px;
		left: 0;
		right: 0;
		width: 468px;
		margin: auto;

		@media $smWidth {

			width: auto;
			top: 96px;
			padding: 0 var(--indent);

		}

	}

	&__inner {

		border-radius: 30px;
		position: relative;
		background-color: #fff;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1160' height='1536' preserveAspectRatio='none' viewBox='0 0 1160 1536'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='url(%23b)' d='M0 0h1160v1536H0z'/%3E%3Cg filter='url(%23c)'%3E%3Cpath fill='%23FFE2BA' d='M819.72 369.88c-33.26-37.68-10.2-59.4 5.48-65.55 45.18-17.66 165.84-58.33 287.06-79.69 151.52-26.69 105.01 29.95 191.74 190.44 86.73 160.5-63.47 231.82-162.18 269.2-98.71 37.4-114.25 1.51-139.27-68.24-25-69.74-141.26-199.05-182.83-246.16Z'/%3E%3C/g%3E%3Cg filter='url(%23d)'%3E%3Cpath fill='%23D2F4FF' d='M628.83 329.61c5.86 49.92-25.46 54.64-41.85 50.76-47.2-11.23-169.53-46.54-281.32-98.05-139.73-64.38-69.25-84.44-49.09-265.75 20.16-181.31 184.23-154.36 286.66-128.85 102.42 25.5 94.75 63.85 75.57 135.42-19.17 71.57 2.7 244.07 10.03 306.47Z'/%3E%3C/g%3E%3Cg filter='url(%23e)'%3E%3Cpath fill='%23DBDFF5' d='M786.83 783.61c5.86 49.92-25.46 54.64-41.85 50.76-47.2-11.23-169.53-46.54-281.32-98.05-139.73-64.38-69.25-84.44-49.09-265.75 20.16-181.31 184.23-154.36 286.66-128.85 102.42 25.5 94.75 63.85 75.57 135.42-19.17 71.57 2.7 244.07 10.03 306.47Z'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='c' width='1327.26' height='1281.02' x='402.7' y='-181.69' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_303_307' stdDeviation='200'/%3E%3C/filter%3E%3Cfilter id='d' width='1209.6' height='1312.03' x='-179.1' y='-530.61' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_303_307' stdDeviation='200'/%3E%3C/filter%3E%3Cfilter id='e' width='1209.6' height='1312.03' x='-21.1' y='-76.61' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_303_307' stdDeviation='200'/%3E%3C/filter%3E%3ClinearGradient id='b' x1='20.3' x2='346.5' y1='21' y2='644.08' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h1160v1536H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: top;
		margin: 48px auto;

		padding: 136px 0 200px;

		@media $desktop {

			display: flex;
			justify-content: center;

		}

		@media $mdWidth {

			padding: 96px 0;
			margin: 36px auto;

		}

		@media $smWidth {

			padding: 96px var(--indent);
			margin: var(--indent) 0;

		}

	}

	&.is-finish &__inner {

		padding: 60px;
		justify-content: space-between;

		@media $smWidth {

			padding: 36px var(--indent) 0;

		}

	}

	&__title {

		text-align: center;
		margin-bottom: 16px;

	}

	&:not(.is-loading).is-finish &__title {

		display: none;

	}

	&__label {

		display: none;
		margin-bottom: 20px;
		font-size: 36px;
		line-height: 48px;

		@media $smWidth {

			font-size: 28px;
			line-height: 36px;
			text-align: center;

		}

	}

	&.is-finish &__label {

		display: block;

	}

	&__text {

		text-align: center;
		margin-bottom: 16px;
		font-size: 20px;
		opacity: 0.7;
		margin-bottom: 40px;

	}

	&:not(.is-loading).is-finish &__text {

		display: none;

	}

	&__submit {

		width: 100%;
		font-size: 20px;
		padding: 16px;
		margin-top: 32px;
		line-height: 1.5;

	}

	&.is-finish &__submit {

		max-width: 209px;

		@media $smWidth {

			max-width: 100%;

		}

	}

	&.is-loading &__start,
	&:not(.is-loading) &__load {

		opacity: 0;
		pointer-events: none;

	}

	&__anim {

		width: 136px;
		height: 68px;
		position: relative;
		margin: 68px auto;

		&::before,
		&::after {

			position: absolute;
			top: 0;
			left: 34px;
			content: '';
			width: 68px;
			height: 68px;
			background-color: #B9C3FF;
			border-radius: 50%;
			transform: translateX(0);
			animation: loading 1.2s linear infinite alternate;

		}

		&::after {

			background-color: rgba(255,255,255,.12);
			border: 1px solid rgba(255,255,255,.32);
			backdrop-filter: blur(4px);
			animation-delay: 1.2s;

		}

	}

}

@keyframes loading {
	0% {
		transform: translateX(-34px);
	}
	100% {
		transform: translateX(34px);
	}
}