.how-work {

	position: relative;

	.center {

		background-image: linear-gradient(158deg, #fafafa, #fff 40%);
		border-radius: 30px;

	}

	&__box {

		padding: 120px 0;

	}

	&__title {

		margin-bottom: var(--gap);

	}

	&__intro {

		font-size: 20px;
		opacity: 0.8;
		margin-bottom: 80px;
		max-width: 960px;

	}

	&__list {

		display: flex;
		gap: 60px;
		justify-content: space-between;

	}

	&__item {

		flex-grow: 1;

		svg {

			margin-bottom: 30px;

		}

		p {

			font-size: 18px;
			line-height: 25px;
			opacity: 0.7;
			max-width: 256px;
			margin: var(--gap) 0;

		}

	}

}
