.how-work {

	position: relative;

	.center {

		background-image: linear-gradient(158deg, #fafafa, #fff 40%);
		border-radius: 30px;

		@media $mdWidth {

			padding: 0 var(--indent);
			text-align: center;

		}

		@media $smWidth {

			border-radius: 0;
			text-align: left;

		}

	}

	&__box {

		padding: 120px 0;

		@media $smWidth {

			padding: 60px 0;

		}

	}

	&__title {

		margin-bottom: var(--gap);

	}

	&__intro {

		font-size: 20px;
		opacity: 0.8;
		margin-bottom: 80px;
		max-width: 960px;

		@media $mdWidth {

			margin-bottom: 36px;

		}

		@media $smWidth {

			font-size: 16px;
			line-height: 25px;
			margin-bottom: 40px;

		}

	}

	&__list {

		display: flex;
		gap: 60px;
		justify-content: space-between;

		@media $mdWidth {

			flex-wrap: wrap;
			justify-content: space-around;
			gap: 0;

		}

		@media $smWidth {

			display: block;

		}

	}

	&__item {

		@media $desktop {

			flex-grow: 1;

		}

		@media $smWidth {

			padding-left: 60px;
			margin-top: 40px;

			.h4 {

				margin-bottom: 10px;
				display: block;

			}

		}

		svg {

			margin-bottom: 30px;

			@media $mdWidth {

				margin: 30px auto;

			}

			@media $smWidth {

				margin: 0;
				position: absolute;
				width: 40px;
				height: 40px;
				top: 0;
				left: 0;

			}

		}

		p {

			font-size: 18px;
			line-height: 25px;
			opacity: 0.7;
			max-width: 256px;
			margin: var(--gap) 0;

			@media $smWidth {

				font-size: 16px;
				margin: 5px 0;

			}

		}

	}

}
