.modal {

	flex-grow: 1;
	position: relative;
	z-index: 10;
	display: none;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 60px 20px;

	@media $xsWidth {

		padding: 40px 10px;

	}

	&__box {

		position: relative;
		max-width: 100%;

	}

	&__item {

		max-width: 100%;
		width: 1110px;
		position: relative;
		padding: 60px;
		background-color: var(--bg);
		border-radius: 30px;
		background-size: cover;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1110' height='800' fill='none' viewBox='0 0 1110 800'%3E%3Cmask id='b' width='1110' height='800' x='0' y='0' maskUnits='userSpaceOnUse' style='mask-type:alpha'%3E%3Cpath fill='url(%23a)' d='M0 0h1110v800H0z'/%3E%3C/mask%3E%3Cg mask='url(%23b)'%3E%3Cpath fill='url(%23c)' d='M0 0h1110v800H0z'/%3E%3Cg filter='url(%23d)' opacity='.5'%3E%3Cellipse cx='722' cy='265' fill='%23D2F4FF' rx='292' ry='299'/%3E%3C/g%3E%3Cg filter='url(%23e)' opacity='.5'%3E%3Ccircle cx='497.5' cy='638.5' r='295.5' fill='%23DBDFF5'/%3E%3C/g%3E%3Cg filter='url(%23f)' opacity='.6'%3E%3Ccircle cx='922.77' cy='588.77' r='291.77' fill='%23FFE2BA'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='d' width='812' height='826' x='316' y='-148' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_4_16613' stdDeviation='57'/%3E%3C/filter%3E%3Cfilter id='e' width='819' height='819' x='88' y='229' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_4_16613' stdDeviation='57'/%3E%3C/filter%3E%3Cfilter id='f' width='811.54' height='811.54' x='517' y='183' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_4_16613' stdDeviation='57'/%3E%3C/filter%3E%3ClinearGradient id='a' x1='19.43' x2='128.39' y1='10.94' y2='393.35' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FAFAFA'/%3E%3Cstop offset='1' stop-color='%23fff'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='19.43' x2='128.39' y1='10.94' y2='393.35' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FAFAFA'/%3E%3Cstop offset='1' stop-color='%23fff'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

	}

	&__close-btn {

		position: absolute;
		top: -30px;
		right: -30px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: 0 0 0 15px #191919;
		display: flex;
		align-items: center;
		justify-content: center;

	}

}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 9;
			opacity: .9;
			background-color: var(--color);

		}

	}

}
/*
.modal-done {

	text-align: center;

	&__ico {

		display: flex;
		justify-content: center;
		margin-bottom: var(--gap);

		svg {

			fill: none;

			@media $smWidth {

				width: 48px;
				height: 48px;

			}

		}

	}

	&__title {

		@media $smWidth {

			font-size: 28px;
			line-height: 36px;

		}

	}

	&__message {

		margin: 16px 0;
		font-size: 18px;
		line-height: 24px;
		opacity: 0.8;

		@media $smWidth {

			font-size: 14px;

		}

	}

	&__btn {

		margin-top: 44px;
		display: flex;
		justify-content: center;

		.btn {

			padding: 20px 32px;

		}

		@media $smWidth {

			margin-top: var(--gap);

		}

	}

}
*/