.page-text {

	padding: 32px;
	background-color: #fff;
	border-radius: 32px;
	margin: 72px auto;

	@media $mdWidth {

		width: auto;

	}

	@media $smWidth {

		width: 100%;

	}

	&__title {

		text-align: center;
		font-size: 48px;
		line-height: 56px;
		font-weight: 900;

	}

	&__body {

		margin-top: 41px;
		font-size: 24px;
		line-height: 28px;

		&--fw500 {

			font-weight: 500;

		}

		& > *:first-child {

			margin-top: 0;

		}

		& > *:last-child {

			margin-bottom: 0;

		}

		b {

			font-weight: 700;

		}

		a {

			text-decoration: underline;
			font-weight: 500;

			&:hover {

				text-decoration-color: transparent;

			}

		}

	}

	p {

		margin: 32px 0;

	}

	ol {

		margin: 32px 0;
		counter-reset: ol;

		& > li {

			padding-left: 32px;

			&::before {

				counter-increment: ol;
				content: counter(ol) ".";
				position: absolute;
				top: 0;
				left: 0;

			}

			& + li {

				margin-top: 32px;

			}

		}

	}

	ul {

		li {

			padding-left: 32px;

			&::before {

				position: absolute;
				top: 12px;
				left: 12px;
				content: '';
				border-radius: 50%;
				width: 5px;
				height: 5px;
				background-color: currentColor;

			}

		}

	}

}