.page-text {

	padding: 32px;
	background-color: #fff;
	border-radius: 32px;
	margin: 72px auto;

	@media $smWidth {

		margin: 0 calc( var(--indent) * -1);
		padding: 72px var(--indent);
		border-radius: 0;

	}

	&__title {

		text-align: center;
		font-size: 48px;
		line-height: 56px;
		font-weight: 900;

		@media $mdWidth {

			font-size: 42px;
			line-height: 1.4;

		}

		@media $smWidth {

			font-size: 32px;

		}

	}

	&__body {

		margin-top: 41px;
		font-size: 24px;
		line-height: 28px;

		@media $mdWidth {

			font-size: 18px;
			line-height: 1.4;

		}

		&--fw500 {

			font-weight: 500;

		}

		& > *:first-child {

			margin-top: 0;

		}

		& > *:last-child {

			margin-bottom: 0;

		}

		b {

			font-weight: 700;

		}

		a {

			text-decoration: underline;
			font-weight: 500;

			&:hover {

				text-decoration-color: transparent;

			}

		}

		hr {

			margin: 40px 0;

		}

	}

	h2 {

		font-size: 32px;
		line-height: 38px;
		margin: 32px 0;

		@media $mdWidth {

			line-height: 1.4;
			margin: 28px 0;
			font-size: 28px;

		}

	}

	p {

		margin: 32px 0;

	}

	ol {

		margin: 32px 0;
		counter-reset: ol;

		& > li {

			padding-left: 36px;

			&::before {

				counter-increment: ol;
				content: counter(ol) ".";
				position: absolute;
				top: 0;
				left: 0;

			}

			& + li {

				margin-top: 32px;

			}

		}

	}

	ul {

		li {

			padding-left: 36px;

			&::before {

				position: absolute;
				top: 12px;
				left: 15px;
				content: '';
				border-radius: 50%;
				width: 5px;
				height: 5px;
				background-color: currentColor;

			}

		}

	}

}